################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/IPOpt/FileContentIndex
/.vs/IPOpt/CopilotIndices/17.12.53.23981
