<!-- index.html -->


<head>
    <meta charset="UTF-8">
    <title>Работает!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>


<body>


    <form action="/Start" method="post" enctype="multipart/form-data">
        <p>
            <label>Количество поколений</label>
            <input class="inputs" type="number" value="20" required name="generations"/>
        </p>
        <p>
            <label for="password">Количество потомков</label>
            <input class="inputs" type="number" value="20" required name="individuals"/>
        </p>

        <label>Выберите алгоритм оптимизации:</label>
        <select class="inputs">
            <option>NSGA-2</option>
        </select>
        <p>
            <label for="file">Выберите файлы для загрузки:</label>
            <input class="inputs" type="file" id="file" name="file" multiple/>
        </p>
        <p>
            <input id="button" type="submit" value="Начать"/>
        </p>
    </form>

</body>